@charset "utf-8";
/* Animated Flip Down Clock Style */

body{
	background:#FFFFFF;
}

#wrapper{
	position:absolute;
	top: 149px;
	left:0px;
    width:300px;
}

#front{
	position:absolute;
	top:0px;
}



#upperHalf, #upperHalfBack{
	vertical-align:bottom;
}

#lowerHalf, #lowerHalfBack{
	vertical-align:top;
}




#upperHalf img{
	position:relative;
	height:25px;
	vertical-align:bottom;
	visibility:visible;
}

#lowerHalf img{
	position:relative;
	height:25px;
	vertical-align:top;
	visibility:visible;
}

	
#lowerHalfBack img{
	position:relative;
	vertical-align:top;
}

#upperHalfBack img{
	position:relative;
	vertical-align:bottom;
}

#hoursUp, #hoursDown, #hoursUpBack, #hoursDownBack{
	width:190px;
}
#daysUpLeft, #daysUpRight, #daysDownLeft, #daysDownRight,
#daysUpLeftBack, #daysUpRightBack, #daysDownLeftBack, #daysDownRightBack,
#hoursUpLeft, #hoursUpRight, #hoursDownLeft, #hoursDownRight,
#hoursUpLeftBack, #hoursUpRightBack, #hoursDownLeftBack, #hoursDownRightBack,
#minutesUpLeft, #minutesUpRight, #minutesDownLeft, #minutesDownRight,
#minutesUpLeftBack, #minutesUpRightBack, #minutesDownLeftBack, #minutesDownRightBack,
#secondsUpLeft, #secondsUpRight, #secondsDownLeft, #secondsDownRight,
#secondsUpLeftBack, #secondsUpRightBack, #secondsDownLeftBack, #secondsDownRightBack{
	width:25px;
}
	


	

